# PDF Extraction Libraries
pymupdf
pdf2image
pytesseract
Pillow

# Vector DB
qdrant_client

# Model and Orchestrator
langchain
langchain_google_genai
sentence_transformers

# Other built-in python packages were used. Please install if neccessary.